body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    margin-top: 1.5rem !important;
}

.frameWrapper {
    width: '80%' !important;
}

#Procedure1Wrapper {
    display: "none" !important;
}

#hocvienWrapper {
    display: "" !important;
}

#buttonWrapper a.button {
    background-color: tomato;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;

}

#buttonWrapper a.button:hover {
    background-color: darken(tomato, 10%);
}

.tableHeader {
    font-size: 25px;
    font-weight: 700;
    text-align: 'center';
}

.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}

.modal-notify .modal-content {
    border-radius: 3px;
}